@model IEnumerable<Instructor>;

<div>Instructor List</div>


<table class="table table-dark">

    <tr>
        <th colspan="6">Instructor</th>
    </tr>

    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>Rank</td>
        <td>Hiring Date</td>
        <td>Details</td>
    </tr>

    @foreach (var instructor in Model)
    {
        <tr>
            <td>@instructor.Id</td>
            <td>@instructor.FirstName @instructor.LastName</td>
            <td>@instructor.IsTenured</td>
            <td>@instructor.Rank</td>
            <td>@instructor.HiringDate</td>
            <td><a asp-action="ShowDetail" asp-route-id="@instructor.Id">Show Details</a></td>
        </tr>
    }
</table>